@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  color: black;
  background-color: white;
}

h1 {
  font-size: 3.25rem;
  line-height: 1.125;
  letter-spacing: 0.01em;
  font-weight: 500;
}

h2 {
  font-size: 2.5rem;
  line-height: 1.125;
  font-weight: 400;
}

h3 {
  font-size: 1.5rem;
  line-height: 1.125;
  font-weight: 400;
}

p {
  font-size: 1rem;
  line-height: 1.125;
  font-weight: 300;
}

a {
  font-size: minmax(1rem, 1.4rem);
  line-height: 1.125;
  font-weight: 300;
}

/* nav section */

header {
  width: 100vw;
  background-color: rgba(10, 16, 17, 0.95);
  height: 3rem;
  position: fixed;
  z-index: 999;
}

nav {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

nav div {
  display: flex;
  height: 100%;
  flex: 1 1;
  align-items: center;
  justify-content: center;
}

nav div a {
  color: rgb(247, 248, 250);
  margin: 0 auto;
}

section {
  margin: 1rem 0;
}

/* Hero section*/

.hero {
  display: grid;
  height: 100vh;
  width: 100vw;
}

.hero-content {
  z-index: 1;
  grid-area: 1/-1;
  display: flex;
  flex-direction: column;
  margin: auto;
  text-align: center;
  padding: 3vw;
  color: #a69f98;
}

.hero-thumb {
  grid-area: 1/-1;
  object-fit: cover;
  object-position: bottom center;
  width: 100%;
  height: 100%;
  min-height: 0;
}

#seemore {
  color: rgb(10, 16, 17);
  font-weight: 400;
}

/* Project section */

.projects {
  width: 100vw;
  padding-bottom: 3%;
  background-color: #e7eee4;
}

.projects .hero-content {
  padding: 3rem 0%;
  text-align: center;
  font-size: 1.5rem;
  color: rgb(10, 16, 17);
}

.gridcontainer {
  margin: 1rem;
  width: auto;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(15rem, 0.9fr));
  grid-auto-rows: 15rem;
  gap: 1rem;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: white;
}

/* footer section */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #a69f98;
  padding: 0.5em 1ch;
}

footer p {
  font-size: 0.85rem;
}
