@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Roboto", Helvetica, sans-serif;
  font-size: 16px;
  color: white;
  background-color: black;
}

h1 {
  font-size: 4rem;
  line-height: 1.125;
  letter-spacing: 0.01em;
  font-weight: 500;
}

h2 {
  font-size: 3rem;
  line-height: 1.125;
  font-weight: 400;
}

h3 {
  font-size: 2rem;
  line-height: 1.125;
  font-weight: 400;
}

p {
  font-size: 1rem;
  line-height: 1.125;
  font-weight: 300;
}

body {
  min-height: 150px;
  min-width: 200px;
}

a,
a:link,
a:visited {
  color: seashell;
}

/* header section */

header {
  width: 100%;
  height: 4rem;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 9999;
}

nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding: 0% 10%;
  width: 100%;
  height: 100%;
}

.redirect {
  font-size: 1.5rem;
  line-height: 1.125;
  font-weight: 500;
}

/* Main container */

main {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
  height: auto;
}

/* landing section */

.landing {
  display: flex;
  flex-flow: column wrap;
  height: 100vh;
  width: 100%;
  align-content: center;
  justify-content: center;
  background-image: url("../media/images/Header_small.png");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: black;
  z-index: 1;
  border-bottom: black 1px solid;
}

.spacer {
  flex-basis: 10%;
  flex-grow: 3;
  flex-shrink: 3;
}

.text-wrapper {
  align-self: center;
  justify-self: center;
  text-align: center;
  flex-grow: 1;
  flex-shrink: 1;
  z-index: 2;
  color: white;
}

#seemore {
  color: blanchedalmond;
  font-size: 2.5rem;
  line-height: 1.3;
}

.gradient {
  height: 10vh;
  width: 100%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
  z-index: 2;
  flex-grow: 2;
  flex-shrink: 2;
}

/* Project section */

.projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: black;
}

.projects h1 {
  text-align: center;
  margin: 2%;
  margin-top: 4%;
}

.gridcontainer {
  margin: 3%;
  background-color: black;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(600px, 0.9fr));
  grid-auto-rows: 400px;
  gap: 1rem;
  justify-content: center;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
  background-color: seashell;
}

/* AboutMe section */

#aboutmain {
  position: relative;
  top: 4rem;
}

.personal {
  display: flex;
}

.asl {
  margin-left: auto;
  width: 60%;
  height: auto;
  justify-content: space-around;
}

.photo {
  margin-right: auto;
  width: 30%;
  height: auto;
  overflow: hidden;
  object-fit: contain;
}

.codeskills {
}

.history {
}

/* Footer section */

footer {
  display: flex;
  height: 3vh;
  justify-content: flex-end;
  align-items: center;
  background: seashell;
  color: black;
  text-align: right;
  padding-right: 1%;
}

/* Breakpoints */

@media only screen and (min-width: 730px) {
  .landing {
    background-image: url("../media/images/Header.png");
    background-position: center left;
  }
}
